.first_screen .ant-pagination-item-link {
  border: 0 !important;
  display: flex;
  align-items: center;
}

.first_screen .ant-pagination-item {
  border: 0 !important;
}

.first_screen .ant-pagination-item-active {
  background-color: '#DDDDDC' !important;
}

.first_screen .ant-pagination-item {
  height: 30px !important;
  margin-right: 0 !important;
}

.ant-input:placeholder-shown {
  font-family: Roboto;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.65px;
}

.ant-modal-footer {
  border-top: 0 !important;
}

.first_screen .ant-pagination.ant-pagination-mini .ant-pagination-prev .ant-pagination-item-link,
.first_screen .ant-pagination.ant-pagination-mini .ant-pagination-next .ant-pagination-item-link {
  background: transparent;
  border-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
}

.first_screen .ant-select :hover {
  border-color: inherit !important;
}

.first_screen .ant-select-selector {
  height: 24px !important;
  border: 1px solid #dddddc !important;
  padding: 0 0 0 8px !important;
}

.input_select .ant-select-selector {
  width: 138px !important;
}

.first_screen .ant-select-arrow {
  right: 4px !important;
  width: 20px !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

.first_screen .ant-select-single.ant-select-show-arrow .ant-select-selection-item,
.first_screen .ant-select-single.ant-select-show-arrow .ant-select-selection-placeholder {
  padding-right: 22px !important;
}

.first_screen .ant-select-single.ant-select-show-arrow .ant-select-selection-item,
.first_screen .ant-select-single.ant-select-show-arrow .ant-select-selection-placeholder {
  color: #5c5c5c !important;
  font-size: 14px !important;
  font-weight: 400 !important;
  margin-top: -3px !important;
  letter-spacing: 0.7px !important;
  font-style: normal !important;
}

.ant-modal-body {
  padding: 20px !important;
}

.first_screen .ant-select :focus .ant-input-focused {
  box-shadow: inherit !important;
  border-color: inherit !important;
}

.first_screen .ant-select:not(.ant-select-customize-input) .ant-select-selector {
  border-radius: 16px;
}

.ant-select-item-option-selected:not(.ant-select-item-option-disabled) {
  background-color: #7d528b;
}

.first_screen .searchbar .ant-pagination-options-size-changer {
  width: auto !important;
}

.first_screen .ant-input::placeholder {
  color: #dddddc;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.65px;
}

.ant-pagination-next {
  min-width: 0 !important;
  padding-left: 6px !important;
}

.first_screen .scenario-card {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 8px;
}

.scenario-card-option {
  cursor: pointer;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.65px;
  color: '#5C5C5C';
}

.scenario-card-container {
  position: absolute;
  width: 160px;
  height: 96px;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 3;
}

.first_screen .ant-pagination-prev {
  min-width: 0 !important;
}

.first_screen .ant-modal-close {
  background-color: white !important;
  color: black !important;
}

.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.first_screen .ant-input:hover {
  border-color: inherit !important;
}

.first_screen .ant-input:focus,
.first_screen .ant-input-focused {
  border-color: inherit !important;
  box-shadow: none !important;
  outline: none !important;
}

.first_screen .ant-input:focus {
  box-shadow: none !important;
  border-color: inherit !important;
}

.first_screen .ant-input:hover {
  border-color: inherit !important;
}

.first_screen .ant-input:focus,
.ant-input-focused {
  border-color: inherit !important;
  box-shadow: none !important;
}

.first_screen .ant-input {
  font-size: 13px !important;
  font-weight: 400 !important;
  letter-spacing: 0.65px !important;
  color: #80807f;
}

.first_screen .rc-virtual-list-holder {
  color: var(--neutral-hue-black, #333);
  font-family: Roboto;
  font-size: 7px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.65px;
}

.first_screen .ant-select-selection-item {
  color: var(--neutral-hue-black, #333);
  font-family: Roboto;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.65px;
  padding-bottom: 12px;
}

.three_dots svg {
  display: flex !important;
}
