.p-multiselect-panel .p-multiselect-header {
  width: auto !important;
}

.p-multiselect:not(.p-disabled):hover {
  border-color: #e9e8e8;
}

.p-multiselect:not(.p-disabled).p-focus {
  box-shadow: none;
}
